#container_div {
  text-align: center;
  margin: auto;
}

#welcome_text {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

#heading_h3 {
  font-family: var(--heading);
  font-size: 1.5rem;
}

#content {
  text-align: center;
  width: 85%;
  margin: auto;
  line-height: 1.7rem;
  padding: 2%;
}

img {
  width: 100%;
}

/* Extra Large Devices */
@media screen and (min-width: 1281px) and (max-width: 1536px) {
}

/* Large Devices */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
}

/* Medium Devices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #welcome_text {
    color: grey;
    font-size: 1.2rem;
  }

  #heading_h3 {
    font-size: 1.2rem;
  }

  #content {
    width: 90%;
    padding: 1rem 0rem;
    font-size: 1rem;
  }
}

/* Small Devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
  #welcome_text {
    color: grey;
    font-size: 1.2rem;
  }

  #heading_h3 {
    font-size: 1.3rem;
  }

  #content {
    width: 90%;
    padding: 1rem 0rem;
    font-size: 0.9rem;
  }
}

/* Extra Small Devices */
@media screen and (min-width: 371px) and (max-width: 576px) {
  #welcome_text {
    color: grey;
    font-size: 1.2rem;
  }

  #heading_h3 {
    font-size: 1rem;
  }

  #content {
    width: 90%;
    padding: 1rem 0rem;
    font-size: 0.9rem;
  }

  .introduction_image {
    display: none;
  }
}

/* Extra Large Small Devices */
@media screen and (max-width: 371px) {
  #welcome_text {
    color: grey;
    font-size: 1.2rem;
  }

  #heading_h3 {
    font-family: var(--heading);
    font-size: 1rem;
  }

  #content {
    text-align: center;
    width: 90%;
    padding: 1rem 0rem;
    font-size: 0.9rem;
  }

  .introduction_image {
    display: none;
  }
}
