.history_div {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  text-align: center;
  padding-bottom: 15%;
}

.image {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 15%;
  border-radius: 10px;
}
.heading_h2 {
  padding-top: 6%;
}
