.footer_main_div {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 34% 20% 28% 14%;
  grid-gap: 1%;
  justify-content: space-between;
  padding: 2% 0%;
}

.footer_copyright {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

/* Extra Large Devices */
@media screen and (min-width: 1280px) and (max-width: 1536px) {
  .footer_main_div {
    width: 80%;
  }
}

/* Large Devices */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .footer_main_div {
    width: 90%;
  }
}

/* Medium Devices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer_main_div {
    width: 90%;
    grid-template-columns: 34% 17% 31% 14%;
    justify-content: space-between;
  }
  .footer_copyright {
    font-size: 1rem;
  }
}

/* Small Devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .footer_main_div {
    width: 95%;
    grid-template-columns: 60% 30%;
    grid-auto-rows: auto;
    grid-gap: 10px;
    border: 1px solid red;
  }
  .footer_copyright {
    font-size: 1rem;
  }
}

/* Extra Small Devices */
@media screen and (min-width: 371px) and (max-width: 576px) {
  .footer_main_div {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_copyright {
    font-size: 0.875rem;
  }
}

/* Extra Large Small Devices */
@media screen and (max-width: 370px) {
  .footer_main_div {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    font-size: 0.75rem;
  }
  .footer_copyright {
    font-size: 0.75rem;
  }
}
