.company_main_div {
  display: grid;
  grid-template-columns: auto auto;
}

.company_logo_image {
  width: 80px;
  display: block;
  margin: auto;
}

.company_logo_text_div {
  padding: 3% 0%;
  font-family: var(--heading);
}
.company_logo_text_div h2 {
  font-size: 1.3rem;
}
.company_logo_text_div h3 {
  font-size: 1rem;
}

/* Large Devices */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .company_logo_image {
    width: 70px;
  }

  .company_logo_text_div h2 {
    font-size: 1.3rem;
  }
  .company_logo_text_div h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .company_logo_image {
    width: 60px;
  }

  .company_logo_text_div h2 {
    padding: 0%;
    font-size: 1.3rem;
  }
  .company_logo_text_div h3 {
    padding: 0%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .company_logo_image {
    width: 60px;
  }

  .company_logo_text_div h2 {
    padding: 0%;
    font-size: 1.2rem;
  }
  .company_logo_text_div h3 {
    padding: 0%;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 371px) and (max-width: 576px) {
  .company_logo_image {
    width: 50px;
  }

  .company_logo_text_div h2 {
    padding: 0%;
    font-size: 1.2rem;
  }
  .company_logo_text_div h3 {
    padding: 0%;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 370px) {
  .company_logo_image {
    width: 50px;
  }

  .company_logo_text_div h2 {
    padding: 0%;
    font-size: 1rem;
  }
  .company_logo_text_div h3 {
    padding: 0%;
    font-size: 0.8rem;
  }
}
