:root {
  --heading: "Bungee Spice", sans-serif;
  --background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  --text-font: "Poppins", sans-serif;
  --heading-font-size: 350%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--text-font);
}
