.reference_main_div {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 79%;
  justify-content: space-between;
  grid-auto-rows: auto;
  padding-bottom: 2rem;
}

.number_div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.number {
  font-size: 80px;
  margin: auto;
  /* opacity: 0.8; */
}

.text_div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1%;
}

.heading_h3 {
  padding: 2% 0% 1%;
}

/* Extra Large Devices */
@media screen and (min-width: 1281px) and (max-width: 1536px) {
  .number {
    font-size: 4rem;
    margin-top: 25%;
  }
  .heading_h3 {
    font-size: 1.25rem;
  }
  .heading_h3 ~ p {
    font-size: 01rem;
    text-align: justify;
    padding: 0px 10px 10px;
  }
}

/* Large Devices */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .number {
    font-size: 4rem;
    margin-top: 25%;
  }
  .heading_h3 {
    font-size: 1.25rem;
  }
  .heading_h3 ~ p {
    font-size: 01rem;
    text-align: justify;
    padding: 0px 10px 10px;
  }
}

/* Medium Devices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .number {
    font-size: 4rem;
    margin-top: 25%;
  }
  .heading_h3 {
    font-size: 1.25rem;
  }
  .heading_h3 ~ p {
    font-size: 01rem;
    text-align: justify;
    padding: 0px 10px 10px;
  }
}

/* Small Devices */
@media screen and (min-width: 578px) and (max-width: 768px) {
  .number {
    font-size: 4rem;
    margin-top: 10%;
  }

  .reference_main_div {
    grid-template-columns: 25% 70%;
    grid-gap: 20px;
  }

  .heading_h3 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
  .heading_h3 ~ p {
    font-size: 1rem;
    text-align: justify;
    padding: 0rem 1rem 1rem 1rem;
  }
}

/* Extra Small Devices */
@media screen and (min-width: 371px) and (max-width: 576px) {
  .reference_main_div {
    grid-gap: 10px;
  }
  .number {
    font-size: 4rem;
    margin-top: 10%;
  }
  .heading_h3 {
    font-size: 1.1rem;
    padding-top: 10px;
  }
  .heading_h3 ~ p {
    font-size: 0.875rem;
    text-align: justify;
    padding: 0rem 10px;
  }
}

/* Extra Large Small Devices */
@media screen and (max-width: 371px) {
  .reference_main_div {
    grid-template-columns: 15% 83%;
    grid-gap: 0px;
  }
  .number {
    font-size: 3rem;
    margin-top: 50%;
  }
  .heading_h3 {
    font-size: 0.9rem;
    padding-top: 10px;
  }
  .heading_h3 ~ p {
    font-size: 0.75rem;
    text-align: justify;
    padding: 5px;
  }
}
